turnos:
  duracion_min_horas: 4
  duracion_max_horas: 9
  duracion_total_max_horas: 12
  descanso_entre_turnos_horas: 7
  dias_libres_min_por_semana: 1
  horas_min_por_semana: 35
  horas_max_por_semana: 50
pausas_cortas:
  duracion_minutos: 15
  frecuencia_cada_horas: 2.5
  obligatorias: true
  separacion_minima_horas: 2.0
  prohibir_primera_hora: true
  prohibir_ultima_hora: true
  maximo_por_turno: 4
almuerzo:
  duracion_min_minutos: 30
  duracion_max_minutos: 60
  obligatorio_si_turno_mayor_a_horas: 6.0
  maximo_por_turno: 1
  prohibir_primera_hora: true
  prohibir_ultima_hora: true
solver:
  timeout_segundos: 1800
  num_workers: 8
cobertura:
  margen_seguridad: 1.0
  bloquear_si_deficit: false
time_blocks:
  duracion_minutos: 30
